/* Heading */

.heading{
    background-color: var( --gray800 );
    padding-top: 10px;
    padding-bottom: 9px;
    display: flex;
    gap: 244px;
    align-items: center;
}

/* Contacts */

.contacts{
    display: flex;
}

.contacts__list{
    display: flex;
    gap: 15px;
    margin-right: 17px;
}

.contacts__item{
    width: 20px;
    height: 20px;
    
    transition: 0.4s all ease-in-out;
}

.contacts__link{
    width: 100%;
    height: 100%;
}

.contacts__item:hover{
    transform: translateY(-5px);
}

.telephone{
    display: flex;
    align-items: center;
    gap: 16px;
}

.telephone__icon{
    width: 20px;
    height: 20px;
}

.telephone__icon img{
    width: 100%;
    height: 100%;
}

.telephone__number{
    font-weight: 400;
    color: var( --white );
    line-height: 14px;
}

/* Navigation */

.navigation__list{
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 24px;
}

.navigation__link{
    color: var( --white );
    transition: 0.4s all ease-in-out;
}

.navigation__link:hover{
    color: var( --gray100 );
}

/* User */

.user{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-left: auto;
}

.user__text{
    color: var( --white );
}

/* Header */

.header{
    background: #FFFFFF;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.07);
}

.header__wrapper{
    padding-top: 24px;
    padding-bottom: 26px;
    display: flex;
    align-items: center;
    gap: 64px;
}

.logo{
    width: 155px;
    height: 40px;
}

.logo img{
    width: 100%;
    height: 100%;
}

/* Searсh */
.searсh{
    display: flex;
    align-items: center;
    gap: 20px;
}

.searсh__button{
    width: 162px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: var( --green700 );

    border: 1.5px solid var( --green700 );
    background: none;
}

.searсh__wrapper{
    display: flex;
    align-items:center
}

.search__input{
    padding-left: 34px;   
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: var( --gray500 );

    width: 893px;
    height: 32px;

    border: 1px solid var( --gray300 );
    border-radius: 4px 0px 0px 4px;
}

.search__block{
    position: relative;
}

.search__block::after{
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    background: url('../icons/search.svg') no-repeat center;
}

.search__input::placeholder{
    font-weight: 400;
    color: var( --gray300 );
}

/* Gray button */
.searсh__find{
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    background: var( --gray600 );
    border-radius: 0px 2px 2px 0px;
    border: none;
    width: 91px;
    height: 32px;
    color: var( --white );
}

/* Info */

.info{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 143px;
}

.info_icon{
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
}

.info_icon img{
    width: 100%;
    height: 100%;
}

.info_icon::before{
    content: '';
    width: 8px;
    height: 8px;
    background: var( --orange500 );
    position: absolute;
    top: -1px;
    left: 18px;
    border-radius: 100%;
}

.info__score{
    display: flex;
    align-items: center;
    gap: 4px;
}

.info__rub{
    width: 16px;
    height: 16px;  
}

.info__rub img{
    width: 100%;
    height: 100%;
}


/* Intro */

.intro{
    padding-top: 194px;
    padding-bottom: 142px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.intro__wrapper{
    width: 670px;
}

.intro__title{
    color: var( --gray700 );
    margin-bottom: 28px;
}

.intro__title span{
    color: var( --green700 );
}

.intro__description{
    color: var( --gray500 );
    margin-bottom: 48px;
    width: 482px;
}

.intro__button{
    margin-bottom: 65px;
}

/* Swiper */

.swiper{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.swiper-button-next{
    z-index: 20;
}

.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.swiper-pagination_intro{
    width: 94px;
    position: relative;
}

.swiper-button-next,
.swiper-button-prev{
    width: 48px;
    height: 48px;
    background: rgba(255, 255, 255, 1);
    border-radius: 100px;
    top: 391px;
}

.swiper-button-next{
    right: 67px;
}

.swiper-button-prev{
    left: 71px;    
}

.swiper-button-next::after,
.swiper-button-prev::after{
    content: '';
    width: 24px;
    height: 24px;
    background: url('../icons/left.svg') no-repeat center;
}

.swiper-button-next::after{
    transform: rotate(180deg);
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    width: fit-content;
    bottom: 0;
}

.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background-color: var( --gray200 );
}

.swiper-pagination-bullet-active{
    transform: scale(1.2);
    background-color: var( --green700 )
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,11px);
}