@font-face {
    font-family: 'OpenSans';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff')
}

@font-face {
    font-family: 'OpenSans';
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/OpenSans-Medium.woff2') format('woff2'),
        url('../fonts/OpenSans-Medium.woff') format('woff')
}

@font-face {
    font-family: 'OpenSans';
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../fonts/OpenSans-SemiBold.woff') format('woff')
}

@font-face {
    font-family: 'Montserrat';
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff')
}

@font-face {
    font-family: 'Montserrat';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff')
}

/* Variables */
:root {
    --container-width: 1590px;
    --black: #000000;
    --white: #FFFFFF;

    --green700: #0C8627;
    --green600: #16A34A;
    --green500: #11AF34;

    --gray900: #1A1A1A;
    --gray800: #333333;
    --gray700: #4D4D4D;
    --gray600: #666666;
    --gray500: #808080;
    --gray400: #999999;
    --gray300: #808080;
    --gray200: #CCCCCC;
    --gray100: #E5E5E5;

    --orange600:#EA580C;
    --orange500:#F97316;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

/* Basic Styles */
a {
    display: block;
}

span {
    display: block;
}

button {
    border: none;
}

ul li {
    list-style-type: none;
}

br{
    display: none;
}

body {
    font-family: 'OpenSans', sans-serif;
    background-color: #f9f9f9;
}

h1,h2,h3 {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

/* Basic Class */
.container { 
    padding-right: calc(50% - var(--container-width)/ 2); 
    padding-left: calc(50% - var(--container-width)/ 2); 
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}

/* Icon Size */

.icon{
    width: 100%;
    height: 100%;
}

.icon-small {
    width: 18px;
    height: 18px;
}

.icon-medium {
    width: 20px;
    height: 20px;
}

.icon-large {
    width: 24px;
    height: 24px;
}

/* Title */
.title {
    font-size: 48px;
    line-height: 120%;
    font-weight: 600;
}

/* Button */
.button {
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.button-green {
    display: inline-block;
    line-height: 100%;
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    border-radius: 4px;
    background-color: var(--green700);
    outline: none;
    padding: 12px;
    cursor: pointer;  
}

.slider-button-prev,
.slider-button-next {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--white);
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}

.slider-button-prev,
.slider-button-next {
    content: '';
}

.slider-button-prev svg{
    transform: rotate(90deg);
}

.slider-button-next svg{
    transform: rotate(-90deg);
}

/* Inverted Text */
.inverted {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    column-gap: 12px;
    max-width: fit-content;
    transform: rotate(-90deg);
}

.inverted__text {
    position: relative;
    line-height: 100%;
    font-size: 24px;
    font-weight: 600;
    color: var(--gray500);
}

.inverted__text::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -55px;
    width: 40px;
    height: 1px;
    background-color: var(--gray500);
    transform: translateY(-50%);
}

/* Discounts */
.discount {
    position: absolute;
    top: 20px;
    left: 10px;
    display: none;
    line-height: 100%;
    font-size: 16px;
    font-weight: 600;
    color: var( --white );
    border-radius: 2px;
    background: var(--orange500);
    padding: 5px 12px 5px 8px;
}

/* Heading */
.heading {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 9px;
    background-color: var(--gray800);
}

.hamburger {
    display: none;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.hamburger svg {
    width: 100%;
    height: 100%;
}

/* Contacts */
.contacts {
    display: flex;
}

.contacts__list {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 15px;
    margin-right: 17px;
}

.contacts__item{
    display: flex;
    align-items: center;
}

.contacts__link{
    display: flex;
}

.contacts__icon {
    fill: var(--white);
    transition: 0.2s all ease-in-out;
}

.contacts__icon:hover {
    fill: var(--green500);
}

/* Telephone */
.telephone {
    display: flex;
    grid-column-gap: 16px;
    align-items: center;
}

.telephone__icon {
    fill: var(--white);
}

.telephone__number {
    line-height: 14px;
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
    transition: 0.2s all ease-in-out;
}

.telephone__number:hover,
.telephone__number:focus{
    color: var(--green500);
}

/* Navigation */
.navigation__list {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 24px;
}

.navigation__link {
    line-height: 100%;
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
    transition: 0.2s all ease-in-out;
}

.navigation__link:hover {
    color: var(--gray100);
}

/* User */
.user {
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}

.user__text {
    line-height: 100%;
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
}

.user__icon { 
    fill: var(--white);
}

/* Header */
.header {
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.07);
    background: #FFFFFF;
}

.header__wrapper {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 64px;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 26px;
}

.logo {
    max-width: 155px;
    height: 40px;
}

.logo svg {
    fill: var(--gray800);
}

/* Button Catalog */

.button_catalog {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    line-height: 100%;
    font-size: 16px;
    font-weight: 600;
    color: var(--green700);
    border: 1.5px solid var(--green700);
    background: none;
    padding: 8px 32px;
}

.catalog-icon{
    fill: var(--green700);
}

/* Searсh */
.searсh {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.searсh__burger {
    width: 24px;
    height: 24px;
}


.searсh__wrapper {
    display: flex;
    align-items:center;
}

.search__input {
    height: 32px;
    line-height: 100%;
    font-size: 14px;
    font-weight: 600;
    color: var(--gray800);
    padding-left: 25px;
    border: 1px solid var(--gray300);
    border-radius: 4px 0px 0px 4px;
}

.search__block {
    position: relative;
    display: grid;
    grid-template-columns: minmax(665px, 895px);
}

.search__input::placeholder {
    font-weight: 400;
    padding-left: 10px;
    color: var( --gray300 );
}

.searсh__icon {
    position: absolute;
    top: 50%;
    left: 8px;
    width: 16px;
    height: 16px;
    transform: translateY(-50%) rotate(-90deg);
    fill: var(--gray300);
}

/* Gray button */
.searсh__find {
    line-height: 100%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0px 2px 2px 0px;
    border: none;
    background: var(--gray600);
    color: var(--white);
    padding: 9px 24px;
}

/* Basket */
.basket {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.basket__icon {
    position: relative;
    fill: var(--gray800);
    cursor: pointer;
}

.basket__icon::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 18px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: var(--orange500);
}

.basket__ruble {
    width: 16px;
    height: 16px;  
    fill: var(--gray800);
}

.basket__text {
    width: max-content;
    line-height: 100%;
    font-size: 16px;
    font-weight: 500;
}

/* Footer */
.footer {
    background-color: var(--gray800);
    padding-top: 56px;
    padding-bottom: 24px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--white);
    padding-bottom: 26px;
    margin-bottom: 17px;
}

.footer__logo  {
    width: 155px;
    height: 40px;
    margin-bottom: 23px;
}

.footer__logo svg {
    fill: var(--white);
}

.footer__text {
    line-height: 100%;
    font-size: 14px;
    font-weight: 400;
}

.footer__text_gray {
    color: var(--gray300)
}

.footer__text_white {
    color: var(--white)
}

.footer__copyright {
    margin-bottom: 4px;
}

.footer__privacy {
    margin-bottom: 23px;
}

.footer__company {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__name{
    font-weight: 600;
}

.footer__info {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 160px;
}

/* Information */
.information__title {
    line-height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--green500);
    margin-bottom: 20px;
}

.information__list{
    display: grid;
    grid-row-gap: 12px;
}

.information__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.information__link {
    font-style: normal;
    transition: color 0.2s;
}

.information__link:hover {
    color: var(--green500);
}

.icon-information{
    width: 20px;
    height: 20px;
    fill: var(--gray200);
}

.information__requisite:hover{
    color: var(--gray300);
}

.information__address:hover{
    color: var(--gray300);
}


/* Social */
.social {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.social__link {
    width: 100%;
    height: 100%;
    transition: fill 0.2s;
}

.social__item {
    width: 32px;
    height: 32px;
}

.social__link:hover svg {
    fill: var( --green600 );
}

.social__link_footer svg {
    fill: var(--white);
}

.social__link svg {
    fill: var(--gray400);
}

@media (max-width:1820px) {
    /* Adapting Basic Styles */
    .container {
        padding-right: 40px;
        padding-left: 40px;
    }

    .title{
        font-size: 32px;
    }

    .inverted__text {
        line-height: 130%;
        font-size: 16px;
    }

    /* Footer */
    .footer__info {
        grid-column-gap: 140px;
    }
}

/* Adapting the width of 1180px */
@media (max-width:1440px) {
    .container {
        padding-right: 20px;
        padding-left: 20px;
    }

    .discount {
        display: flex;
    }

    /* Heading */
    .heading {
        display: none;
    }

    .contacts {
        display: none;
    }
    
    .navigation {
        display: none;
    }

    .user {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .header__wrapper {
        grid-template-columns: auto auto auto;
        grid-column-gap: 0;
        padding-top: 17px;
    }

    .button_catalog{
        display: none;
    }

    /* Searсh */
    .searсh {
        display: none;
    }

    /* Footer */
    .footer__info {
        grid-column-gap: 98px;
    }

    .footer__wrapper  {
        padding-bottom: 23px;
        margin-bottom: 22px;
    }
}

/* Adapting the width of 1024px */
@media (max-width:1180px) {
    .title {
        font-size: 24px;
    }

    .slider-button-prev,
    .slider-button-next {
        display: none;
    }

    /* Header */
    .header__wrapper {
        padding-bottom: 19px;
    }

    /* Footer */
    .footer__info {
        grid-column-gap: 55px;
    }
}

/* Adapting the width of 960px */
@media (max-width: 1024px) {

    .container {
        padding-right: 24px;
        padding-left: 24px;
    }

    /* Footer */
    .footer__info {
        grid-column-gap: 20px;
    }

    .footer__logo{
        width: 195px;
        height: 50px;
    }

    .social__item{
        width: 20px;
        height: 20px;
    }
}

/* Adapting the width of 768px */
@media (max-width: 960px) {
    /*  Footer */   
    .footer__wrapper {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 0px;
    }

    .footer__block {
        grid-row: 2;
        padding-bottom: 10px;    
    }

    .footer__logo {
        width: 222px;
        height: 57px;
    }

    .footer__info {
        grid-column-gap: 90px;
        margin-bottom: 48px;
    }

    .social {
        justify-content: end;
    }
    .footer__privacy {
        margin-bottom: 0;
    }
}

/* Adapting the width of 640px */
@media (max-width: 768px) {
    .container {
        padding-right: 16px;
        padding-left: 16px;
    }

    /* Footer */
    .footer__info  { 
        grid-column-gap: 20px;
    }
}

/* Adapting the width of 460px */
@media (max-width: 639px) {

    /* Basket */
    .basket {
        justify-content: end;
        width: max-content;
    }

    .basket__icon {
        display: none;
    }

    .inverted {
        position: static;
        padding-left: 51px;
        transform: rotate(0);
    }

    .inverted__text {
        color: var(--gray700);
        font-size: 20px;
    }
    .inverted__text::before {
        left: -40px;
        width: 28px;
        background-color: var(--gray700);
    }

    /* Footer */
    .footer {
        padding-top: 56px;
    }

    .footer__info {
        display: block;
    }

    .information {
        margin-bottom: 48px;
    }

    .information:last-child {
        margin-bottom: 0px;
    }

    .footer__info  {
        margin-bottom: 65px;
    }

    .footer__privacy {
        margin-bottom: 12px;
    }

    .social {
        justify-content: start;
    }

    .footer__block {
        padding-bottom: 23px;
    }
}

/* Adapting the width of 320px */
@media (max-width: 480px) {
    /* Footer */
    .footer__company {
        display: block;
    }

    .footer__name {
        text-align: center;
        color: var(--white);
        margin-bottom: 12px;
    }

    .footer__name:last-child {
        margin-bottom:0px;
        color: var(--gray600);
    }
}