/* Fonts */
/* Open Sans */
@font-face {
    font-family: 'OpenSans';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff')
}

@font-face {
    font-family: 'OpenSans';
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/OpenSans-Medium.woff2') format('woff2')
        url('../fonts/OpenSans-Medium.woff') format('woff'),
}

@font-face {
    font-family: 'OpenSans';
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2')
        url('../fonts/OpenSans-SemiBold.woff') format('woff'),
}


/* Montserrat */
@font-face {
    font-family: 'Montserrat';
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2')
        url('../fonts/Montserrat-SemiBold.woff') format('woff'),
}

@font-face {
    font-family: 'Montserrat';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2')
        url('../fonts/Montserrat-Bold.woff') format('woff'),
}

/* Variables */
:root {
    --black: #000000;
    --white: #FFFFFF;

    --green700: #0C8627;
    --green600: #16A34A;
    --green500: #11AF34;

    --gray900: #1A1A1A;
    --gray800: #333333;
    --gray700: #4D4D4D;
    --gray600: #666666;
    --gray500: #808080;
    --gray400: #999999;
    --gray300: #808080;
    --gray200: #CCCCCC;
    --gray100: #E5E5E5;

    --orange600:#EA580C;
    --orange500:#F97316;
}

/* Basic Styles */
a {
    display: block;
}

svg {
    width: 100%;
    height: 100%;
}

span {
    display: block;
}

button {
    border: none;
}

.container {
    padding: 0 calc(50% - 795px);
}

ul li {
    list-style-type: none;
}

body {
    font-family: 'OpenSans', sans-serif;
}

h1,h2,h3 {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    outline: none;
}

/* Button */
.button {
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.button-green {
    border-radius: 4px;
    outline: none;
    cursor: pointer;  
    background-color: var(--green700);
    width: 187px;
    padding: 12px;

    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Text */
.text-2xl100 {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
}

.text-xl130 {
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
}

.text-xl130_medium {
    font-weight: 500;
}

.text-xl100 {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
}

.text-xl100_semibold {
    font-weight: 600;
}

.text-base130 {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
}

.text-base130_semi {
    font-weight: 600;
}

.text-base100 {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
}

.text-base100_medium {
    font-weight: 500;
}

.text-xs100 {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
}

.text-sm100 {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}

/* Title */
.title-5xl130 {
    font-weight: 700;
    font-size: 62px;
    line-height: 119%;
}

.title-4xl130 {
    font-weight: 600;
    font-size: 52px;
    line-height: 114%;
}

.title-4xl130_bold {
    font-weight: 700;
}

/* Inverted Text */
.inverted {
    display: flex;
    align-items: center;
    gap: 12px;
    position: absolute;
    max-width: fit-content;
    right: 0;
    top: 0;
    transform: rotate(-90deg);
}

.inverted__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: var(--gray500);
    position: relative;
}

.inverted__text::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 1px;
    top: 50%;
    left: -55px;
    transform: translateY(-50%);
    background-color: var(--gray500);
}

/* Discounts */
.discount {
    display: none;
    background: var(--orange500);
    color: var( --white );
    border-radius: 2px;
    padding: 5px 12px 5px 8px;
    position: absolute;
    top: 20px;
    left: 10px;
}

/* Adapting the width of 1440px */
@media (min-width: 0px) and (max-width:1920px) {
    /*  Basic Styles */
    .container {
        padding: 0 calc(50% - 680px);
    }

    .inverted__text {
        font-size: 16px;
        line-height: 130%;
    }

    /* Title */
    .title-5xl130 {
        font-size: 48px;
    }

    .title-4xl130 {
        font-size: 32px;   
    }

    /* Text */
    .text-xl130 {
        font-size: 16px;
    }
}

/* Adapting the width of 1180px */
@media (max-width:1440px) {
    /*  Basic Styles */
    .container {
        padding: 0 calc(50% - 570px);
    }

    .discount {
        display: flex;
    }

    .text-base130 {
        font-size: 14px;
    }

    .text-xl130 {
        font-size: 14px;
    }

    .title-4xl130 {
        font-size: 24px;
    }

    .text-xl100 {
        font-size: 16px;
    }
}

/* Adapting the width of 1024px */
@media (max-width:1180px) {
    .container {
        padding: 0 calc(50% - 490px);
    }
}

/* Adapting the width of 960px */
@media (max-width: 960px) {
    .container {
        padding: 0 calc(50% - 460px);
    }
}

/* Adapting the width of 768px */

@media (max-width: 960px) {
    .container {
        padding: 0 calc(50% - 360px);
    }
}

/* Adapting the width of 640px */
@media (max-width: 768px) {
    .container {
        padding: 0 calc(50% - 296px);
    }
}

/* Adapting the width of 460px */
@media (max-width: 639px) {
    .container {
        padding: 0 calc(50% - 224px);
    }
    .inverted {
        position: static;
        transform: rotate(0);
        padding-left: 51px;
    }

    .inverted__text {
        color: var(--gray700);
        font-size: 20px;
    }
    .inverted__text::before {
        background-color: var(--gray700);
        width: 28px;
        left: -40px;
    }

    .text-xl100 {
        font-size: 12px;
        line-height: 12px;
    }
}

/* Adapting the width of 320px */
@media (max-width: 480px) {
    .container {
        padding: 0 calc(50% - 160px);
    }
}